NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
DIRECT_URL=
ADMIN_EMAIL=admin@syscursos.local
ADMIN_INITIAL_PASSWORD=
STUDENT_EMAIL=aluno@syscursos.local
STUDENT_INITIAL_PASSWORD=
